<!-- TITLE -->

<div class="mb-40 mt-40">
  <h1>Home</h1>
</div>

<!-- SEARCH FORM -->
<div>
  <!-- START LINKS -->
    <div>
        <a routerLink="/studentses" routerLinkActive="active">Link to List STUDENTSList</a>
    </div>
    <div>
        <a routerLink="/teacherses" routerLinkActive="active">Link to List TEACHERSList</a>
    </div>
    <div>
        <a routerLink="/subjects" routerLinkActive="active">Link to List SUBJECTList</a>
    </div>
    <div>
        <a routerLink="/designations" routerLinkActive="active">Link to List DESIGNATIONList</a>
    </div>
 <!-- END LINKS -->
</div>